@import url(resetmy.css);
@charset "utf-8";

/** globalisierung **/
html {
    background-image:url(../nicepics/background.jpg);
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #444;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
    display: block;
}

/** text **/
h1 {
  font-size: 1.4em;
  font-weight: normal;
  text-transform: lowercase;
}

h1 a {
  text-decoration: none;
  color: #444;
  text-shadow: 1px 1px 1px #fff;
}

/** nur nicht aus dem rahmen fallen **/
#seitenrahmen {
  width: 580px;
  margin: 0 50px;
}

/** köpfchen **/
header {
  margin-top: 250px;
}

header p {
	font-size:0.7em;
	text-transform: uppercase;
}

header p a {
    text-decoration: none;
    color: #444;
}

/** navigation **/
nav {
    margin-top: 20px;
}

nav ul {
}

nav li {
	float:left;
	list-style:none;
	margin-right:0.5em;
}

nav li a {
    -webkit-transition: color;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1500ms;
    color:#777;
    text-decoration:none;
    text-shadow: 1px 1px 1px #fff;
}

nav li a:hover {
    -webkit-transition: color;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    color:#dd0707;
    text-decoration:none;
}

nav li.active a {
    color:#dd0707;
}

/** inhaltlich dünn **/

#inhalt {
    margin:60px 10px 0;
}

article {
    display:none;
}

article li {
    list-style:none;
}

article a {
    -webkit-transition: color;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1500ms;
    color:#ccc;
    text-decoration:none;
}

article a:hover {
    -webkit-transition: color;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    color:#444;
    text-decoration:none;
}

/** bei fuss **/

footer {
    margin-top:20px;
    font-size:10px;
    color:#999;
}

/** kleine helfer **/

.clear {
  clear: both;
}

.no {
    display:none;
}