html {
	background-image: url('background.jpg');
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	background-color: #fff;
	color: #444;
}
a {
    text-decoration: none;
    color: #444;
}
a:visited {
    color: #222;
}
h1 {
	font-size: 4em;
	font-weight: bold;
	text-transform: lowercase;
}
h1 a {
	text-shadow: 1px 1px 1px #fff;
}
h1 a:hover {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
#seitenrahmen {
	width: 580px;
	margin: 0 50px;
}
header {
	margin-top: 250px;
}
header p {
	font-size: 0.7em;
	text-transform: uppercase;
}
header p a {
	text-decoration: none;
	color: #444;
}
#inhalt {
	margin: 60px 10px 0;
}
article li {
	list-style: none;
}
article a {
    -webkit-transition: color;
    -moz-transition: color;
    -o-transition: color;
    transition: color;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 1500ms;
    -moz-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    transition-duration: 1500ms;
    color: #ccc;
    text-decoration: none;
}
article a:hover {
    -webkit-transition: color;
    -moz-transition: color;
    -o-transition: color;
    transition: color;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    color: #444;
    text-shadow: -1px -1px 1px #fff;
    text-decoration: none;
}
footer {
	margin-top:20px;
	font-size:0.6em;
	color:#999;
}
footer a {
	color:#ccc;
}
.clear {
	clear: both;
}
.no {
	display:none;
}